<!DOCTYPE html>
<html lang="ko">
<header th:fragment="header">
    <div class="logo">
        <a href="../home.html" th:href="@{/bible}">
            <h1 class="font-white">Search Bible</h1>
        </a>
    </div>
    <div class="bible-praise">
        <a href="../home.html" th:href="@{/bible}">
            <span class="font-white">성경말씀</span>
        </a>
        <span class="font-white">&nbsp;|&nbsp;</span>
        <a href="../home.html" th:href="@{/bible}">
            <span class="font-white">찬송가</span>
        </a>
    </div>
</header>
</html>